name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main
  workflow_dispatch: # allows manual run from Actions tab

jobs:
  deploy:
    concurrency:
      group: 'pages'
      cancel-in-progress: true
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - name: Setup Pages
        uses: actions/configure-pages@v3

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: .          # include everything from repo root (our static site)

      - name: Deploy
        uses: actions/deploy-pages@v1
